version: '3.8'

services:
  ansible-master:
    build:
      context: .
      dockerfile: Dockerfile.master
    container_name: ansible-master
    volumes:
      - ./playbooks:/playbooks
    networks:
      - ansible-net
    depends_on:
      - node-1
      - node-2
      - node-3
      - node-4

  node-1:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-1
    networks:
      - ansible-net
      - db-net

  node-2:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-2
    networks:
      - ansible-net
      - db-net

  node-3:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-3
    networks:
      - ansible-net
      - db-net

  node-4:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-4
    networks:
      - ansible-net
      - db-net

  db-1:
    image: postgres:15
    container_name: db-1
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: appdb1
    networks:
      - ansible-net
      - db-net

  db-2:
    image: postgres:15
    container_name: db-2
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: appdb2
    networks:
      - ansible-net
      - db-net

  db-3:
    image: postgres:15
    container_name: db-3
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: appdb3
    networks:
      - ansible-net
      - db-net

  db-4:
    image: postgres:15
    container_name: db-4
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: appdb4
    networks:
      - ansible-net
      - db-net

networks:
  ansible-net:
    driver: bridge
  db-net:
    driver: bridge
