services:
  key-generator:
    image: alpine
    container_name: key-generator
    volumes:
      - ansible-keys:/root/.ssh
    command: >
      sh -c " apk add --no-cache openssh-client && if [ ! -f /root/.ssh/id_rsa ]; then
        echo 'Generating SSH keys for secure communication...' &&
        ssh-keygen -t rsa -N '' -f /root/.ssh/id_rsa &&
        cp /root/.ssh/id_rsa.pub /root/.ssh/authorized_keys &&
        echo 'Host *' > /root/.ssh/config &&
        echo '    StrictHostKeyChecking no' >> /root/.ssh/config &&
        chmod 600 /root/.ssh/*;
      fi "

  ansible-master:
    build:
      context: ./docker/master/
    container_name: ansible-master
    depends_on:
      key-generator:
        condition: service_completed_successfully
    volumes:
      - ./playbooks:/playbooks
      - /var/run/docker.sock:/var/run/docker.sock
      - ansible-keys:/root/.ssh
    networks:
      - ansible-net

  node:
    build:
      context: ./docker/node/
    profiles:
      - rocky
    depends_on:
      key-generator:
        condition: service_completed_successfully
    volumes:
      - ansible-keys:/root/.ssh
    networks:
      - ansible-net

  zookeeper-1:
    image: zookeeper:3.9
    container_name: zookeeper-1
    profiles:
      - zookeeper
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181 server.4=zookeeper-4:2888:3888:observer;2181
      ZOO_4LW_COMMANDS_WHITELIST: "*"
    networks:
      - ansible-net
      - zk-net

  zookeeper-2:
    image: zookeeper:3.9
    container_name: zookeeper-2
    profiles:
      - zookeeper
    environment:
      ZOO_MY_ID: 2
      ZOO_SERVERS: server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181 server.4=zookeeper-4:2888:3888:observer;2181
      ZOO_4LW_COMMANDS_WHITELIST: "*"
    networks:
      - ansible-net
      - zk-net

  zookeeper-3:
    image: zookeeper:3.9
    container_name: zookeeper-3
    profiles:
      - zookeeper
    environment:
      ZOO_MY_ID: 3
      ZOO_SERVERS: server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181 server.4=zookeeper-4:2888:3888:observer;2181
      ZOO_4LW_COMMANDS_WHITELIST: "*"
    networks:
      - ansible-net
      - zk-net

  zookeeper-4:
    image: zookeeper:3.9
    container_name: zookeeper-4
    profiles:
      - zookeeper
    environment:
      ZOO_MY_ID: 4
      ZOO_SERVERS: server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181 server.4=zookeeper-4:2888:3888:observer;2181
      ZOO_4LW_COMMANDS_WHITELIST: "*"
    networks:
      - ansible-net
      - zk-net

  zookeeper-proxy:
    image: haproxy:latest
    container_name: zookeeper-proxy
    profiles:
      - zookeeper
    volumes:
      - ./docker/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
      - zookeeper-4
    networks:
      - ansible-net
      - zk-net

volumes:
  ansible-keys:


networks:
  ansible-net:
    driver: bridge
  zk-net:
    driver: bridge
