services:
  ansible-master:
    build:
      context: .
      dockerfile: Dockerfile.master
    container_name: ansible-master
    volumes:
      - ./playbooks:/playbooks
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - ansible-net

  node-1:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-1
    profiles:
      - rocky
    networks:
      - ansible-net
      - db-net

  node-2:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-2
    profiles:
      - rocky
    networks:
      - ansible-net
      - db-net

  node-3:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-3
    profiles:
      - rocky
    networks:
      - ansible-net
      - db-net

  node-4:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-4
    profiles:
      - rocky
    networks:
      - ansible-net
      - db-net

  db-1:
    image: bitnami/postgresql:latest
    container_name: db-1
    profiles:
      - postgres
    environment:
      POSTGRESQL_USER: admin
      POSTGRESQL_PASSWORD: secretpassword
      POSTGRESQL_DATABASE: appdb
      POSTGRESQL_POSTGRES_PASSWORD: rootpassword
      POSTGRESQL_REPLICATION_MODE: master
      POSTGRESQL_REPLICATION_USER: repl_user
      POSTGRESQL_REPLICATION_PASSWORD: repl_password
    networks:
      - ansible-net
      - db-net

  db-2:
    image: bitnami/postgresql:latest
    container_name: db-2
    profiles:
      - postgres
    environment:
      POSTGRESQL_USER: admin
      POSTGRESQL_PASSWORD: secretpassword
      POSTGRESQL_DATABASE: appdb
      POSTGRESQL_POSTGRES_PASSWORD: rootpassword
      POSTGRESQL_REPLICATION_MODE: slave
      POSTGRESQL_REPLICATION_USER: repl_user
      POSTGRESQL_REPLICATION_PASSWORD: repl_password
      POSTGRESQL_MASTER_HOST: db-1
      POSTGRESQL_MASTER_PORT_NUMBER: 5432
    networks:
      - ansible-net
      - db-net

  db-3:
    image: bitnami/postgresql:latest
    container_name: db-3
    profiles:
      - postgres
    environment:
      POSTGRESQL_USER: admin
      POSTGRESQL_PASSWORD: secretpassword
      POSTGRESQL_DATABASE: appdb
      POSTGRESQL_POSTGRES_PASSWORD: rootpassword
      POSTGRESQL_REPLICATION_MODE: slave
      POSTGRESQL_REPLICATION_USER: repl_user
      POSTGRESQL_REPLICATION_PASSWORD: repl_password
      POSTGRESQL_MASTER_HOST: db-1
      POSTGRESQL_MASTER_PORT_NUMBER: 5432
    networks:
      - ansible-net
      - db-net

  db-4:
    image: bitnami/postgresql:latest
    container_name: db-4
    profiles:
      - postgres
    environment:
      POSTGRESQL_USER: admin
      POSTGRESQL_PASSWORD: secretpassword
      POSTGRESQL_DATABASE: appdb
      POSTGRESQL_POSTGRES_PASSWORD: rootpassword
      POSTGRESQL_REPLICATION_MODE: slave
      POSTGRESQL_REPLICATION_USER: repl_user
      POSTGRESQL_REPLICATION_PASSWORD: repl_password
      POSTGRESQL_MASTER_HOST: db-1
      POSTGRESQL_MASTER_PORT_NUMBER: 5432
    networks:
      - ansible-net
      - db-net

  zookeeper-1:
    image: zookeeper:3.9
    container_name: zookeeper-1
    profiles:
      - zookeeper
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181 server.4=zookeeper-4:2888:3888:observer;2181
      ZOO_4LW_COMMANDS_WHITELIST: "*"
    networks:
      - ansible-net
      - zk-net

  zookeeper-2:
    image: zookeeper:3.9
    container_name: zookeeper-2
    profiles:
      - zookeeper
    environment:
      ZOO_MY_ID: 2
      ZOO_SERVERS: server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181 server.4=zookeeper-4:2888:3888:observer;2181
      ZOO_4LW_COMMANDS_WHITELIST: "*"
    networks:
      - ansible-net
      - zk-net

  zookeeper-3:
    image: zookeeper:3.9
    container_name: zookeeper-3
    profiles:
      - zookeeper
    environment:
      ZOO_MY_ID: 3
      ZOO_SERVERS: server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181 server.4=zookeeper-4:2888:3888:observer;2181
      ZOO_4LW_COMMANDS_WHITELIST: "*"
    networks:
      - ansible-net
      - zk-net

  zookeeper-4:
    image: zookeeper:3.9
    container_name: zookeeper-4
    profiles:
      - zookeeper
    environment:
      ZOO_MY_ID: 4
      ZOO_SERVERS: server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181 server.4=zookeeper-4:2888:3888:observer;2181
      ZOO_4LW_COMMANDS_WHITELIST: "*"
    networks:
      - ansible-net
      - zk-net

networks:
  ansible-net:
    driver: bridge
  db-net:
    driver: bridge
  zk-net:
    driver: bridge
