version: '3.8'

services:
  ansible-master:
    build:
      context: .
      dockerfile: Dockerfile.master
    container_name: ansible-master
    volumes:
      - ./playbooks:/playbooks
    networks:
      - ansible-net
    depends_on:
      - node-1
      - node-2
      - node-3
      - node-4

  node-1:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-1
    networks:
      - ansible-net
      - db-net

  node-2:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-2
    networks:
      - ansible-net
      - db-net

  node-3:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-3
    networks:
      - ansible-net
      - db-net

  node-4:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: node-4
    networks:
      - ansible-net
      - db-net

  db-1:
    image: bitnami/postgresql:latest
    container_name: db-1
    environment:
      POSTGRESQL_USER: admin
      POSTGRESQL_PASSWORD: secretpassword
      POSTGRESQL_DATABASE: appdb
      POSTGRESQL_POSTGRES_PASSWORD: rootpassword
      POSTGRESQL_REPLICATION_MODE: master
      POSTGRESQL_REPLICATION_USER: repl_user
      POSTGRESQL_REPLICATION_PASSWORD: repl_password
    networks:
      - ansible-net
      - db-net

  db-2:
    image: bitnami/postgresql:latest
    container_name: db-2
    environment:
      POSTGRESQL_USER: admin
      POSTGRESQL_PASSWORD: secretpassword
      POSTGRESQL_DATABASE: appdb
      POSTGRESQL_POSTGRES_PASSWORD: rootpassword
      POSTGRESQL_REPLICATION_MODE: slave
      POSTGRESQL_REPLICATION_USER: repl_user
      POSTGRESQL_REPLICATION_PASSWORD: repl_password
      POSTGRESQL_MASTER_HOST: db-1
      POSTGRESQL_MASTER_PORT_NUMBER: 5432
    networks:
      - ansible-net
      - db-net

  db-3:
    image: bitnami/postgresql:latest
    container_name: db-3
    environment:
      POSTGRESQL_USER: admin
      POSTGRESQL_PASSWORD: secretpassword
      POSTGRESQL_DATABASE: appdb
      POSTGRESQL_POSTGRES_PASSWORD: rootpassword
      POSTGRESQL_REPLICATION_MODE: slave
      POSTGRESQL_REPLICATION_USER: repl_user
      POSTGRESQL_REPLICATION_PASSWORD: repl_password
      POSTGRESQL_MASTER_HOST: db-1
      POSTGRESQL_MASTER_PORT_NUMBER: 5432
    networks:
      - ansible-net
      - db-net

  db-4:
    image: bitnami/postgresql:latest
    container_name: db-4
    environment:
      POSTGRESQL_USER: admin
      POSTGRESQL_PASSWORD: secretpassword
      POSTGRESQL_DATABASE: appdb
      POSTGRESQL_POSTGRES_PASSWORD: rootpassword
      POSTGRESQL_REPLICATION_MODE: slave
      POSTGRESQL_REPLICATION_USER: repl_user
      POSTGRESQL_REPLICATION_PASSWORD: repl_password
      POSTGRESQL_MASTER_HOST: db-1
      POSTGRESQL_MASTER_PORT_NUMBER: 5432
    networks:
      - ansible-net
      - db-net

networks:
  ansible-net:
    driver: bridge
  db-net:
    driver: bridge
